/* WordPress Plugin Rencontre
/* 
/* GENERAL */
.widgRenc{position:relative;font-size:16px;font-weight:normal;max-width:1100px;margin:0 auto;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.calign{text-align:center;}
.br{height:10px;}
.boto10{margin-bottom:10px;}
.rel{position:relative;}
.firstMaj{text-transform:lowercase;}
.firstMaj:first-letter{text-transform:uppercase;}
.rencBox{position:relative;background-color:#fff;border-radius:3px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.15);font-size:.87em;overflow:hidden;padding:5px;margin-bottom:1%;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
.rencBox a{text-decoration:none;}
.rencBox h3{clear:none;margin:0 0 10px 0;}
.rencBox ul iframe{position:absolute;width:150px;top:-2px;left:20px;max-height:22px!important;}
.rencBox input[type="checkbox"]{width:14px;vertical-align:middle;}
.rencBox input,.rencBox select,.rencBox textarea{font-size:1em;max-width:85%;}
.rencBox div.rencAd{font-size:0.9em;color:#000;margin:5px 10px;overflow:hidden;line-height:1.2em;}
.demiBox{width:46%;}
.pleineBox{width:100%;}
.petiteBox{width:33%;min-width:230px;}
.grandeBox {width:66%;min-width:380px;}
.miniBox{width:135px;height:100px;margin-right:5px;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
.maxiBox{width:480px;min-height:100px;padding:5px;}
.grid_10{width:81.66666%;}
.rencMiniPortrait{margin:0;position:relative;float:left;}
.miniPortrait{position:relative;float:left;background-color:#fbf8f3;border:1px solid #f3eddd;margin:2px;padding:3px;border-radius:3px;text-transform:capitalize;}
.miniPortrait.highlight{background-color:#fbf1df;border:1px solid #e3d2a6;}
.miniPortrait:hover{border-bottom:2px solid #f3eddd;border-top:none;box-shadow:0 1px 0 #555;}
.miniPortrait img.tete{float:right;width:60px;border-radius:3px;}
.miniPortrait div{float:left;width:70px;margin-right:0px;font-size:0.9em;color:#dd6e28;overflow:hidden;max-height:64px;line-height:1.1em;}
.miniPortrait div h3{font-size:1em;color:#1c0000;margin:0 0 5px 0;max-height:28px;}
.miniPortrait img.flag{float:right;margin-top:5px;border:1px solid #555;border-radius:2px;}
.miniPortrait span{clear:right;float:right;font-size:.7em;line-height:1.3em;}
.miniPortrait p{float:left;margin:0;padding:0;font-size:0.75em;color:#000;height:2.62em;line-height:1.3em;overflow:hidden;width:102px;}
.rencInL{color:green;}
.rencOutL{color:#888;}
.rencInline,.rencOutline{position:absolute;top:40px;right:8px;color:green;font-size:.62em;text-align:right;font-weight:bold;}
.rencOutline{color:#888;font-weight:normal;}
.maVille,.monAge{color:#9f5824;margin:2px 0;}
.portraitPhoto{float:left;text-align:center;padding-bottom:10px;min-height:300px;}
#portraitGrande{max-width:99%;max-height:250px;margin-bottom:5px;border-radius:4px;}
.rencBlocimg{max-width:260px;margin:0 auto;}
.portraitMini{border-radius:3px;padding:2px 0;}
.rencPortrait{min-height:600px;}
.rencPortrait img.flag{float:right;margin:10px;border:1px solid #555;border-radius:2px;}
.rencPortrait .titre{margin-bottom:10px;}
.rencPortrait .ville{color:#dd6e28;margin:-10px 0 5px;}
.rencPortrait .ville span{font-size:.95em;padding-left:5px;}
.renc1{color:#dd6e28;margin:5px 0;font-weight:700;}
.rencPortrait p{clear:both;margin-top:10px;font-size:.85em;}
.rencBox ul, .rencPortrait ul, .rencMenu ul{list-style:none;margin:0;padding:0;}
.rencPortrait ul li, .rencMenu ul li{display:-moz-inline-box;display:inline-block;background-color:#e8e5ce;color:#1c0d02;border:1px solid #555;border-radius:4px;margin:3px;padding:5px;font-size:.9em;}
.rencPortrait ul li.boutonred, .rencMenu ul li.boutonred{background-color:red;}
.rencTab{background-color:#e8e5ce;}
.rencMenu{position:relative;margin-top:5px;}
.rencMenu li.current{color:black;font-weight:bold;background-color:#bfb190;}
.rencMenu li.current:hover{}
.rencMenu li span{background-color:#9f5824;color:black;font-weight:bold;border-radius:10px;margin:0 0 0 5px;padding:2px 4px;font-size:.9em;}
.rencFBlike{position:relative;display:inline-block;max-height:25px;max-width:180px;}
.rencPortrait .portraitOnglet{font-size:.8em;padding:6px 4px 10px;margin-right:1px;border-radius:4px;border:1px solid #e8e5ce;cursor:pointer;}
.rencPortrait table{font-size:.8em;margin-top:8px;width:100%;display:none;border:1px solid #e8e5ce;}
.rencPortrait table tr:nth-child(2n+1){background-color:#e8e5ce;}
.rencPortrait table tr{width:100%;}
.rencPortrait table td{padding:2px 0 2px 10px;line-height:2em;}
.rencPortrait input{width:90%;}
.rencBox img.maPhoto{float:left;border-radius:3px;margin-right:10px;}
.rencBox img.monFlag{float:right;border:1px solid #555;border-radius:2px;}
.rencBox .maRecherche{clear:left;color:#444;font-size:0.75em;}
.rencBox .button{float:right;display:inline-block;background-color:#e8e5ce;color:#1c0d02;border:1px solid #555;border-radius:4px;margin:5px 3px 2px;padding:5px;font-size:.9em;cursor:pointer;}
.rencBox .button:hover, .rencPortrait ul li:hover, .rencMenu ul li:hover{background-color:#bfb190;}
.rencBox .abso135{position:absolute;bottom:5px;right:5px;}
.rencBox .abso225{position:absolute;bottom:0px;left:5px;color:#444;font-size:0.85em;}
.rencBox .affinity{color:#444;font-size:0.85em;margin:0;padding:0;}
.rencBox .abso225 span,.rencBox .affinity span{color:#9f5824;}
.rencBox input[type="checkbox"]{margin:3px 20px 0 -2px;padding-top:5px;}
.rencBox table{width:100%;font-size:1em;}
.rencBox table td,.rencBox table th{vertical-align:middle;border:none;}
.rencBox select{border:0!important;-webkit-appearance:none;-moz-appearance:none;background-color:#e8e5ce;text-indent:0.01px;text-overflow:"";color:#1c0d02;border-radius:5px;padding:5px;box-shadow:inset 0 0 5px rgba(000,000,000, 0.5);margin:2px;}
.rencBonjour{float:right;margin:5px;text-align:right;font-size:1.2em;}
.rencNouveau, .rencCompte{padding:15px;text-align:justify;}
.rencNouveau table tr td, .rencCompte table tr td{text-align:center;vertical-align:top;padding:10px 20px 25px;}
.rencNouveau table tr th, .rencCompte table tr th{text-align:center;border-top:2px solid #e0cdbf;padding-top:10px;}
.rencNouveau table option, .rencCompte table option{font-size:.9em;}
.rencBox .rencLiOff{font-style:italic;color:#aaa;pointer-events:none;border-color:#aaa;}
.rencDate{float:left;margin-left:8px;width:100%;font-weight:700;font-size:.8em;color:#777;}
.rencPagine{margin:5px auto;text-align:center;}
.rencPagine a, .rencPagine span{color:#000;font-weight:400;padding:0 10px;text-align:center;text-decoration:none;}
.rencPagine span{color:#777;font-size:1.1em;}
.rencPagine a:hover{color:#444;}
.rencInfo{color:#aaa;}
.rencEvol{position:relative;width:100%;border:1px solid #e0cdbf;margin:10px 0;}
.rencEvol25,.rencEvol33,.rencEvol50,.rencEvol66,.rencEvol75,.rencEvol100{float:left;background-color:green;border-radius:6px;height:30px;margin:1px;font-size:1.2em;text-align:center;font-weight:700;}
.rencEvol25{width:25%}.rencEvol33{width:33.333%}.rencEvol50{width:50%}.rencEvol66{width:66.666%}.rencEvol75{width:75%}.rencEvol100{width:100%}
.rencMsg{line-height:1.4em;}
.rencMsg table tr:hover{background-color:#fcfcfa;}
.rencMsg table tr.unread td{font-weight:700}
.rencMsg table td, .rencMsg table th{padding:5px 0 5px 10px;}
.rencMsg table td{cursor:pointer;}
.rencMsg table th{background-color:#e8e5ce;}
.rencMsg .tete{position:absolute;top:10px;right:10px;width:60px;border-radius:3px;}
.rencMsg label{display:block;margin:15px 0 5px 1px;}
.rencMsg input, .rencMsg textarea{width:80%;overflow:auto;}
.rencMsg h3 a{color:#999;}
.rencMsg h3 a:hover{color:#000;}
#portraitSauv{float:right;margin:20px;}
#portraitSauv span{margin-right:10px;padding:5px 10px;border-radius:4px;background-color:#e8e5ce;}
#portraitSauv span:hover{cursor:pointer;background-color:#bfb190;}
#infoChange, #rencAlert, #rencAlert1{font-size:1.1em;color:red;font-weight:bold;}
#formTrouve table td{padding:5px 10px;}
#formTrouve table tr:nth-child(2n+1){background-color:#e8e5ce;}
#rencFantome{width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,.5);}
#rencFantome .rencFantome{font-size:1.2em;text-align:center;line-height:1.6em;width:30%;margin:10% auto;background-color:#fff;padding:3%;opacity:1;filter:alpha(opacity=100);-moz-opacity:1.00;opacity:1.00;z-index:999;}
#rencFantome .rencFantome span{cursor:pointer;font-weight:700;display:block;text-decoration:underline;margin-top:10px;}
#changePhoto{border-bottom:1px solid #e0cdbf;}
a.rencSupp{display:inline-block;background:transparent url("../images/sprite.png") no-repeat scroll -2px -4px;width:16px;height:16px;margin:0 3px;}
a.rencPlus{display:inline-block;background:transparent url("../images/sprite.png") no-repeat scroll -2px -108px;width:16px;height:16px;margin:0 3px;}
/* CITY & MAP */
.rencCity{font-weight:400;color:#5abfd4;line-height:1.1em;}
.rencCity>div{cursor:pointer;}
.rencCity>div:hover{font-weight:700;color:#d7bd4;}
.rencTMap{text-align:left;margin:20px;color:#000;line-height:1.2em;display:none;}
tr.renctrMap td,.rencCompte tr.renctrMap td{padding-left:0;padding-right:5px;}
tr.renctrMap td:first-child,tr.renctrMap th:first-child{width:200px;}
#rencMap{display:none;background-color:#e8e5ce;border:2px solid #e0cdbf;max-width:320px;width:auto;height:300px;opacity:1;}
#rencMap2{display:none;background-color:#e8e5ce;border:2px solid #e0cdbf;height:400px;opacity:1;}
#rencMap2>div{width:100%;}
/* CHAT & CAM */
.rencTchat{position:fixed;bottom:10px;right:10px;visibility:hidden;z-index:999;width:300px;border:1px solid #444;border-radius:4px 4px 0 0;box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);font-family:Helvetica Neue, Helvetica, Arial, Sans Serif;font-size:.81em;line-height:17px;color:#111;background:#fff;}
.rencTchat .top{position:relative;background:#1e1414;border-radius:3px 3px 0 0;min-height:auto;padding:5px 10px;font-weight:bold;color:#aaa;}
.rencTchat .top span{float:right;font-weight:bold;cursor:pointer;}
.rencTchat .top em{font-size:.9em;}
.rencTchat .top .cam{position:absolute;top:3px;right:22px;width:20px;height:20px;background:transparent url("../images/cam20.png") no-repeat scroll 0 0;cursor:pointer;}
.rencTchat #contenu{background:#efefef;color:#333;height:280px;overflow-y:auto;padding:10px 10px 20px;margin:0;font-weight:normal;}
.rencTchat .fm, .rencTchat .to, .rencTchat .az{margin:10px 0;width:65%;font-size:.81em;line-height:16px;border-radius:3px;width:70%;padding:6px;border-width:1px;border-style:solid;}
.rencTchat .to{float:left;background:#DBFCFF;background:-moz-linear-gradient(top,  #DBFCFF 0%, #bdedfc 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#DBFCFF), color-stop(100%,#bdedfc));background:-webkit-linear-gradient(top,  #DBFCFF 0%,#bdedfc 100%);background:-o-linear-gradient(top,  #DBFCFF 0%,#bdedfc 100%);background:-ms-linear-gradient(top,  #DBFCFF 0%,#bdedfc 100%);background:linear-gradient(to bottom,  #DBFCFF 0%,#bdedfc 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBFCFF', endColorstr='#bdedfc',GradientType=0 );border-color:#97A1A9;}
.rencTchat .fm{float:right;background:#feffe8;background:-moz-linear-gradient(top,  #feffe8 0%, #d6dbbf 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#d6dbbf));background:-webkit-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%);background:-o-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%);background:-ms-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%);background:linear-gradient(to bottom,  #feffe8 0%,#d6dbbf 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 );border-color:#9B946D;color:#2C2A1F;}
.rencTchat .az{float:left;width:92%;background:#e8e5ce;border-color:#9f5824;color:#1c0d02;}
.rencTchat .emot{display:block;width:300px;padding:0 2px;overflow:hidden;color:#bbb;}
.rencTchat .emot img{cursor:pointer;}
.rencTchat input{display:block;width:100%;padding:4px;overflow:hidden;color:#bbb;}
.rencTchat .button{float:right;display:inline-block;background-color:#e8e5ce;color:#1c0d02;border:1px solid #9f5824;border-radius:4px;margin:5px 3px 2px;padding:5px;font-size:.9em;}
.rencTchat .button:hover{background-color:#bfb190;cursor:pointer;}
.rencCam, .rencCam2{position:fixed;bottom:10px;right:320px;visibility:hidden;z-index:999;width:300px;height:225px;border:1px solid #444;border-radius:4px;box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);background-color:#fff;}
#rencCamObj{z-index:999;background-color:#fff;}
#rencCamImg{position:absolute;top:0;left:0;z-index:1010;}
/* ZOOMBOX */
#zoombox iframe,#zoombox img{border:none;}
#zoombox .zoombox_mask{background-color:#000;position:fixed;width:100%;z-index:90;height:100%;top:0;left:0;}
#zoombox .zoombox_container{position:absolute;z-index:100;}
#zoombox .relative{position:relative;}
#zoombox .zoombox_prev{position:absolute;top:0;left:0;width:50%;height:100%;cursor:pointer;/*+opacity:0;*/ filter:alpha(opacity=0);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-moz-opacity:0;opacity:0;}
#zoombox .zoombox_prev:hover{/*+opacity:100%;*/ filter:alpha(opacity=100);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-opacity:1;opacity:1;}
#zoombox .zoombox_next{position:absolute;top:0;right:0;width:50%;height:100%;/*+opacity:0;*/ filter:alpha(opacity=0);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-moz-opacity:0;opacity:0;}
#zoombox .zoombox_close,#zoombox .zoombox_next,#zoombox .zoombox_prev{cursor:pointer;}
#zoombox .multimedia .zoombox_next,#zoombox .multimedia .zoombox_prev{display:none;}
#zoombox .zoombox_next:hover{/*+opacity:100%;*/ filter:alpha(opacity=100);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-opacity:1;opacity:1;}
#zoombox .zoombox_gallery{position:fixed;z-index:120;bottom:-60px;left:0;right:0;text-align:center;/*+opacity:85%;*/ filter:alpha(opacity=85);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	-moz-opacity:0.85;opacity:0.85;cursor:pointer;width:auto;background-color:#050505;height:60px;overflow:hidden;display:none;}
#zoombox .zoombox_gallery img{height:50px;padding:5px;/*+opacity:50%;*/ filter:alpha(opacity=30);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);-moz-opacity:0.3;opacity:0.3;}
#zoombox .zoombox_gallery img:hover,#zoombox .zoombox_gallery img.current{/*+opacity:100%;*/ filter:alpha(opacity=100);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-opacity:1;opacity:1;}
#zoombox_loader{background:url(images/loader.png) no-repeat left top;position:absolute;height:40px;width:40px;cursor:pointer;top:50%;left:50%;margin:-20px 0 0 -20px;z-index:110;}
.zoombox .zoombox_container{background:#000;color:#666;/*+box-shadow:0px 0px 10px #000000;*/ -moz-box-shadow:0px 0px 10px #000000;-webkit-box-shadow:0px 0px 10px #000000;-o-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000;-o-box-shadow:0 0 10px #000;box-shadow:0 0 10px #000;}
.zoombox .content{background:#000;}
.zoombox .zoombox_title{color:#FFF;/*+placement:anchor-top-left -1px -22px;*/ position:absolute;left:-1px;top:-22px;/*+text-shadow:1px 1px #000000;*/ -moz-text-shadow:1px 1px #000000;-webkit-text-shadow:1px 1px #000000;
	-o-text-shadow:1px 1px #000000;text-shadow:1px 1px #000000;-moz-text-shadow:1px 1px #000;-webkit-text-shadow:1px 1px #000;-o-text-shadow:1px 1px #000;text-shadow:1px 1px #000;}
.zoombox .zoombox_close{background:url(../images/close.png) no-repeat;width:30px;height:30px;/*+placement:anchor-top-right -15px -15px;*/ position:absolute;right:-15px;top:-15px;}
#zoombox.zoombox .zoombox_next{background:url(../images/next.png) no-repeat right center;}
#zoombox.zoombox .zoombox_prev{background:url(../images/prev.png) no-repeat left center;}
/* HOME PAGE */
.ficheLibre .rencBox{float:left;padding:1px;margin:0.5%;max-height:109px;overflow:hidden;}
.ficheLibre .rencBox.ad{width:31.32%;min-width:300px;}
.rencSearchLibre{display:table;border:1px solid #f3eddd;margin:2px;padding:2px 5px;border-radius:3px;}
.rencSearchLibre p{margin:10px 0;padding:0;}
.rencSearchLibre p.rencSearchSubmit{text-align:center;}
.rencSearchLibre p.rencSearchSubmit input{padding:5px 15px}
.rencResultLibre{font-size:.87em;}
@media screen and (max-width:980px){
	.rencNouveau table tr td, .rencCompte table tr td{padding:5px 0 5px 5px;}
	.widgRenc{font-size:15px;}
}
@media screen and (max-width:600px){
	.rencNouveau table tr td, .rencCompte table tr td{padding:0;}
	.widgRenc{font-size:14px;}
}
