.rencLabel {position:relative;width:340px;float:left;}
.rencValeur {margin-left:350px;}
.rencType {color:blue;}
a.rencSupp,span.rencSupp {display:inline-block; background:transparent url("../images/sprite.png") no-repeat scroll -5px -7px; width:12px; height:12px;margin:0 3px;cursor:pointer;}
a.rencPlus,span.rencPlus {display:inline-block; background:transparent url("../images/sprite.png") no-repeat scroll -5px -31px; width:12px; height:12px;margin:0 3px;cursor:pointer;}
a.rencEdit {display:inline-block; background:transparent url("../images/sprite.png") no-repeat scroll -5px -57px; width:12px; height:12px;margin:0 3px;}
a.rencBlockon {display:inline-block; background:transparent url("../images/eyeVert16.png") no-repeat scroll 0 0; width:16px; height:16px;margin:0 3px;}
a.rencBlockoff {display:inline-block; background:transparent url("../images/eyeRouge16.png") no-repeat scroll 0 0; width:16px; height:16px;margin:0 3px;}
a.rencMailon {display:inline-block; background:transparent url("../images/mailVert16.png") no-repeat scroll 0 0; width:16px; height:16px;margin:0 3px;}
a.rencMailoff {display:inline-block; background:transparent url("../images/mailRouge16.png") no-repeat scroll 0 0; width:16px; height:16px;margin:0 3px;}
table.membre, table.prison {text-align:center;}
table.membre tr:nth-child(2n+2), table.prison tr:nth-child(2n+2)  {background-color:#e5d4ac;}
table.membre td {max-width:100px; padding:4px 10px 0;}
table.prison td {padding:4px 15px 0;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.calign {text-align:center;}
.br {height:10px;}
.rencBox {position:relative;border:2px solid #e5d4ac;border-radius:5px;padding:5px;margin-bottom:1%;font-size:14px;}
.rencBox a {text-decoration:none;}
.rencBox ul iframe {position:absolute; width:150px;top:-2px;left:20px;max-height:22px!important;}
.demiBox {width:49%;}
.pleineBox {width:100%;}
.petiteBox {width:33%;}
.grandeBox  {width:66%;}
.portraitPhoto{min-width:268px;}
.rencPortrait {min-height:600px;}
.rencPortrait img.flag{float:right;margin:10px;border:1px solid #555;border-radius:2px;}
.rencPortrait .titre{margin-bottom:10px;}
.rencPortrait .ville {color:#dd6e28;margin:-10px 0 5px;}
.renc1 {color:#dd6e28;margin:5px 0;font-weight:700;}
.rencPortrait p{clear:both;margin-top:10px;font-size:85%;}
.rencPortrait ul, .rencMenu ul {list-style:none;margin-bottom:0;}
.rencPortrait ul li, .rencMenu ul li{display:-moz-inline-box;display:inline-block; background-color:#e5d4ac; color:#1c0d02;border:1px solid #9f5824; border-radius:4px;margin:3px; padding:5px;font-size:90%;}
.rencPortrait .portraitOnglet {font-size:80%; padding:6px 4px 10px; margin-right:1px;border-radius:4px;border:1px solid #e5d4ac;cursor:pointer;}
.rencPortrait table {font-size:80%; margin-top:8px;width:100%;display:none;border:1px solid #e5d4ac;}
.rencPortrait table tr:nth-child(2n+1) {background-color:#e5d4ac;}
.rencPortrait table tr {width:100%;}
.rencPortrait table td {padding:2px 0 2px 10px;line-height:2em;}
.rencPortrait input {width:90%;}
.bouton{display:-moz-inline-box;display:inline-block;background-color:#e5d4ac;border:1px solid #555; border-radius:4px;margin:3px; padding:5px;font-size:90%;}
.bouton:hover{cursor:pointer;background-color:#bfb190;}
.bouton a{color:#555;text-decoration:none;}
#portraitSauv {margin:20px;}
#portraitSauv span {color:#555;margin-right:10px;padding:5px 10px;border-radius:4px;background-color:#e5d4ac;border:1px solid #555;}
#portraitSauv span:hover {cursor:pointer;background-color:#bfb190;}
img#portraitGrande {}
.rencBlocimg {max-width:260px;}
@media screen and (max-width:920px){
	#rencDonation{display:none;}
}
